[Unit]
Description=slog-app

[Service]
Type=simple
User=root
Group=root
ExecStart=/root/slog-app <sentry dsn>
Restart=always
# control-group and mixed mode try to kill watcher with SIGTERM (see unit_kill_context()) but it ignores
#KillMode=process

[Install]
WantedBy=multi-user.target
